# Gradle 관련
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

gradle/wrapper/gradle-wrapper.properties.lock

# 인증서
infra/nginx/certs/

# Java 컴파일 파일
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IDE 관련
## IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# OS 관련
## macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

## Windows
desktop.ini

## Linux
*~

# 로그 파일 맟
logs/
*.log
log/
*.tmp
*.temp
*.swp
*.swo
*.pid
*.seed
*.pid.lock

# Spring Boot 관련
application-local.yml
application-local.properties
application-dev.yml
application-dev.properties
application-prod.properties
application.yml
application.properties
application.yaml

# 데이터베이스 파일
*.db
*.sqlite
*.h2.db
data.sql

# 환경 변수 파일
.env
.env.local

# Docker 관련 (선택사항)
docker-compose.override.yml

# 테스트 관련
test-results/
/test-output/

# 기타
*.pid
*.seed
*.pid.lock

infra/config/cognito-common.yml